<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To Do list</title>
        <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/bower_components/font-awesome/css/font-awesome.min.css">

        <style>
			.hand {
				cursor: pointer;
				cursor: hand;
			}
        </style>
    </head>
    <body>

	<div id="todoList">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">ToDo</a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<!-- <li class="active"><a href="#">Link</a></li> -->
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li @click="logOut"><a href="#">Logout</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>


		<div class="container" style="margin-top: 30px;">
			<div class="row">
				<div class="col-sm-6">
					<h1>ToDo List</h2>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<div class="col-sm-6">


				<div v-if="remaining.length">
					<h2>Tasks ({{ remaining.length }})</h2>
					<p style="font-size: 0.8em; text-align: right;">Note: For edit Double click on entry</p>
					<ol class="list-group">
						<li class="list-group-item clearfix" v-for="task in tasks | inProcess" style="width: 100%;">
							<div class="col-sm-10" style="padding: 0px;">
								<span class="hand" v-on:dblclick="editTask(task, $index)" style="">
									{{task.body}}
								</span>
							</div>
							<div class="col-sm-1">
								<i class="fa fa-check hand" style="margin-right: 10px; color: green;" v-on:click="toggleTask(task)"></i>
							</div>
							<div class="col-sm-1">
								<i class="fa fa-times hand" style="color: red;" v-on:click="removeTask(task)"></i>
							</div>
						</li>
					</ol>
				</div>

				<form  v-on:submit="addTask">

					<div class="form-group">
						<input class="form-control" type="text" placeholder="I need ..." v-model="newTask" id="newTaskInput">
					</div>
					<button class="btn btn-info">
						<span v-show="!editFlag">Add Task</span>
						<span v-show="editFlag">Save</span>
					</button>
					<button class="btn btn-default" @click="completeAll" v-show="!editFlag">Mark All as Completed</button>

				</form>


				<div v-if="completions.length">
					<h2>Completed ({{completions.length}})</h2>

					<ol class="list-group">
						<li class="list-group-item clearfix" v-for="task in tasks | completed">
							<div class="col-sm-11" style="padding: 0px;">
								{{task.body}}
							</div>
							<div class="col-sm-1">
								<i class="fa fa-times hand" style="color: red;" v-on:click="toggleTask(task)"></i>
							</div>
						</li>
					</ol>

					<button class="btn btn-danger" @click="clearCompleted">Mark All as Completed</button>
				</div>

	    	</div>
	    </div>
	</div>
</div>

        <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../static/bower_components/vue/dist/vue.min.js"></script>
        <script src="../static/js/todoList.js"></script>
    </body>
</html>
